<%- include ('./layout/header.ejs'); -%>

<div class="information-container">
    <div class="container">
        <div class="title">Thay đổi mật khẩu</div>
        <div class="content">
            <form action="/user/information/update/password/<%= user._id %>?_method=PUT" method="POST">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Mật khẩu</span>
                        <input class="capitalize" type="password" name="password" placeholder="">
                    </div>
                    <div class="input-box">
                        <span class="details">Nhập lại mật khẩu</span>
                        <input type="password" name="password_confirm" placeholder="">
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Cập nhật mật khẩu">
                </div>
                <div class="button">
                    <a href="/user/information/<%= user.username %>">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ('./layout/footer.ejs'); -%>