/* toast */
.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 0 0 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  animation: slideInLeft ease 0.3s, fadeOut linear 1s 2s forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success {
  border-color: #28a745;
}

.toast--success .toast__icon {
  color: #28a745;
}

.toast--info {
  border-color: #007bff;
}

.toast--info .toast__icon {
  color: #007bff;
}

.toast--warning {
  border-color: #ffc107;
}

.toast--warning .toast__icon {
  color: #ffc107;
}

.toast--error {
  border-color: #dc3545;
}

.toast--error .toast__icon {
  color: #dc3545;
}

.toast + .toast {
  margin-top: 10px;
}

.toast__icon {
  font-size: 24px;
}

.toast__close {
  font-size: 20px;
  cursor: pointer;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}
.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.toast__msg {
  font-size: 16px;
  font-weight: 600;
  color: #888;
  margin-top: 4px;
}
p {
  text-transform: none;
}
h3 {
  text-transform: capitalize;
}

#toast {
  position: fixed;
  top: 15px;
  right: 32px;
  z-index: 999999;
}
/*  */
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}

/* chapter */
.chapter__container {
  width: 80%;
  margin: auto;
}
.chapter__container .content p {
  font-size: 20px;
  word-spacing: 5px;
  text-indent: 30px;
  line-height: 30px;
  text-transform: none;
}
.chapter__container .content .content__image {
  text-align: center;
}
